*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;	
}



.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 5%;
	width: 100%;
	background-color: rgba(255,228,196 ,.8);
	color: black;
	text-align: left; 
	font-size: 16px;
	font-family: 'Dosis', sans-serif;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/*z-index: 1000;*/
}

#landing-page {
	background: url(../images/background/bg-peacock.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	overflow: hidden;
	/*text-transform: uppercase;*/

}

.slantbox-1 {
	background-color: rgba(255,255,224 ,.9 );
/*	opacity: 0.5;
	filter: alpha (opacity=50);*/
	border-color: yellow;
	border: 2px solid yellow;
	height: 90vh;
	width: 120vw;
	transform: skewX(-69deg);
	position: relative;
	left: -900px;
	bottom: 98px;
	text-align: center;

}


#image-homeButton {
		height: 97px; 
		width: 97px;
		border-radius: 20%;
}

#homeButton {
	background-color: none;
	border-radius: 20%;
	position: absolute;
	margin-left: 100%;
	margin-top: 8%;
	transform: skewX(69deg);
	position: relative;
	overflow: hidden;
	/*transition: .3s;*/
}

#homeButton:hover {
	top: 3px;
	transition: 1s;
}

#homeButton-1 {
	height: 90px; 
	width: 90px;
	background-color: none;
	border-radius: 20%;
	position: absolute;
	margin-left: 1100px;
	margin-top: 650px;
	position: relative;
	overflow: hidden;
}

#homeButton-1:hover {
	top: 3px;
	transition: 1s;
}


nav {
	position: absolute;
	height: 30px;
	width: 45vw;
	transform: skewX(69deg);
/*	background-color: rgba(25,25,112 ,.9 );*/
	border-radius: 10px; 
	margin-left: 83vw;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 21vh;

}

/*rgba(0,0,139 ,.5 );*/

nav > ul {
	display: flex;
	list-style-type: none;
}

nav > ul > li {
	color: midnightblue;
	margin: 0 20px;
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
}

nav > ul > li:hover {
	color: red;
	-webkit-box-shadow: 0px 1px 5px 6px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 1px 5px 6px rgba(0,0,0,0.35);
box-shadow: 0px 1px 5px 6px rgba(0,0,0,0.35);
}

/*disappearing reviewBox*/

.reviewBox {
	background-color: rgba(255, 255, 255, 0.8);
	width: 30%;
	border-radius: 10%;
	height: 90px;
	display: flex;
	position: absolute;
	left: 60%;
	top: 30px;
	visibility: hidden;
	overflow: hidden;
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;

}

.reviewFont {
	font-size: 17px;
	color: indigo;
	text-align: center;
	margin: 5px;
	position: absolute;
	margin-left: 11px; 
}

input {
	border: 1px solid #D3D3D3;
	margin: 10px auto;
	height: 25px;
	width: 50px;
/*	display: flex;
	justify-content: center;*/
	text-align: left;
	position: absolute;
	margin-top: 30px;
}

.reviewBtn {
	border-radius: 10%;
	width: 150px;
	background-color: rgba(85,100,206,.8);
	font-family: 'Dosis', sans-serif;
	color: whitesmoke;
	position: absolute;
	margin-top: 60px;
	margin-left: 10px;
}

/*End of Disappearing reviewBox*/

.megaBox-Review:hover > .reviewBox, .megaBox-Review >.reviewBox:hover {
	visibility: visible;
}


.subTitle {
	margin-left: 430px; 
	transform: skewX(69deg);
	position: relative;
	font-size: 50px;	
	font-family: 'Rouge Script', cursive;
	
}

#subTitleColor {
	color: #800000;
	margin-top: 50px;
}

.menuTitle {
	transform: skewX(69deg);
	position: relative;
	font-size: 55px;
	font-family: 'Croissant One', cursive;
	margin-left: 800px;
	top: -27px;
	
}

#subTitleFont {
	font-size: 23px;
	font-family: 'Dosis', sans-serif;
	margin-left: 1137px;
	text-align: left;
	margin-top: -25px;
}

.flip-box {
	background-color: transparent;
	width: 400px;
	height: 300px;
	/*border: 1px solid #f1f1f1;*/
	border-radius: 10%;
	perspective: 1000;
	position: absolute;
	top: 25vh;
	margin-left: 700px;
	overflow: hidden;
}

.flip-box-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.5s;
	transform-style: preserve-3d; 
}

.flip-box:hover .flip-box-inner {
	transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: visible;
}

.flip-box-front { /*(fallback only)*/
	background-color: #f1f1f1;
	color: red;
	border-radius: 10%;
} 

.flip-box-back {
	background-color: maroon;
	color: white;
	transform: rotateY(180deg);
	border-radius: 10%;
} 

.flip-box-front > img {
	height: 300px;
	width: 400px;
	border-radius: 10%;
}

.flip-box-back > img {
	height: 300px;
	width: 400px;
	border-radius: 10%;
}	


.social-media {
	/*border: 2px solid salmon;*/
	position: absolute;
	left: 195px;
}

.social-media a {
	color: white;
	margin:	0 0.5rem;
	font-size: 2rem;
/*	opacity: .75;*/
	top: 0;
}

/*image of social media*/

#iNsta {
	height: 40px;
	width: 40px;
}

#fBook {
	height: 45px;
	width: 45px;
	border-radius: 50%;	
}

#tWitter {
	height: 37px;
	width: 37px;
	border-radius: 15%;
}

#gMail {
	height: 43px;
	width: 43px;
	border-radius: 20%;
}

#yMail {
	height: 55px;
	width: 55px;
	border-radius: 10%;
	position: absolute;
	bottom: .3vh;
}

			/*Disappearing icon*/

					.sub-socialMedia {
						background-color: rgba(255,255,224 ,.8 );
						width: 50%;
						border-radius: 10%;
						height: 25px;
						display: flex;
						justify-content: center;
						align-items: center;
						position: absolute;
						left: 130px;
						visibility: hidden;
					}

					.mega-socialMedia:hover > .sub-socialMedia, .mega-socialMedia > .sub-socialMedia:hover {
						visibility: visible;
					}

					.sub-socialMedia > p {
						font-size: 15px;
						color: black;						 
					}

					.yahooSub-socialMedia {
						background-color: rgba(255,255,224 ,.8 );
						width: 50%;
						border-radius: 10%;
						height: 25px;
						display: flex;
						justify-content: center;
						align-items: center;
						position: absolute;
						left: 180px;
						visibility: hidden;
					}

					.mega-socialMedia:hover > .yahooSub-socialMedia, .mega-socialMedia > .yahooSub-socialMedia:hover {
						visibility: visible;
					}

					.yahooSub-socialMedia > p {
						font-size: 15px;
						color: black;						 
					}

			/*end of Disappearing Icon*/


#iNsta:hover, #fBook:hover, #tWitter:hover, #gMail:hover, #yMail:hover {
	/*transition: 2s;*/
	-webkit-box-shadow: 0px 1px 34px -5px rgba(242,250,20,1);
-moz-box-shadow: 0px 1px 34px -5px rgba(242,250,20,1);
box-shadow: 0px 1px 34px -5px rgba(242,250,20,1);
	animation: shake .9s /*cubic-bezier (.36,.07,.19,.97) both*/;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}

.social-media {
	position: absolute;
	margin-left: 535px;
	top: 75vh;
}

/*#logoHome {
	height: 100px;
	width: 100px;
	border-radius: 20%;
	position: absolute;
	margin-left: 870px;
	top: 80vh;
}
*/
#orderHere {
	color: midnightblue;
	position: absolute;
	height: 45px;
	width: 170px;
	border-style: outset;
	/*border-color: 2px solid blue;*/
	background-color: rgba(255, 255, 128 ,1 );
	/*border-radius: 10px; */
	margin-left: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50vh;
	font-size: 23px;
	font-family: 'Crimson Text', serif;
}

#orderHere:hover {
	top: 51vh;
	transition: .3s;
}

#createAccount {
	color: midnightblue;
	position: absolute;
	height: 45px;
	width: 260px;
	border-style: outset;
	/*border-color: 2px solid blue;*/
	background-color: rgba(255,255,128 ,1 );
	/*border-radius: 10px; */
	margin-left: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50vh;
	font-size: 23px;
	font-family: 'Crimson Text', serif;	
}

#createAccount:hover {
	top: 51vh;
	transition: .3s;
}


@keyframes move {
	from { top: 0; left: 0; }
	to { top: 0px; left: 100px; }
}

.askHere {
	position: absolute;
	margin-top: 550px;
	margin-left: 50px;
	animation: move 2s steps(3) infinite alternate;
}

#askHere-1 {
	height: 150px; 
	width: 230px;
}

@keyframes colorChange {
	from {color: red;}
	to {color-rendering: #800000;}
	0% {
		color: red;
	}

	20% {
		color: #800000;
	}

	40% {
		color: pink;
	}

	60% {
		color: green;
	}
}

#askHereText {
	font-size: 20px;
	font-family: 'Crimson Text', serif;
	position: absolute;
	top: 60px;
	z-index: 10;
	margin-left: 65px;
	animation-name: colorChange;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}




.boundaryLine {
	height: 1.5vh;
	width: 100vw;
	background-color: black;
}

#about-Us {
	height: 100vh;
	width: 100vw;
	background: url(../../assets/images/background/bg-choppingboard.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
/*	display: flex;
	justify-content: center;
	align-items: center;*/
}

.aboutUsTitle {
	font-family: 'Rouge Script', cursive;
	font-size: 90px;
	color: 	#800000;
	position: absolute;
	margin-top: 150px;
	margin-left: 360px;
}

.aboutUsBorder {
	height: 10vh; 
	width: 33vw;
	position: absolute;
	margin-top: 255px;
	margin-left: 420px;
}

.aboutParagraph {
	position: absolute;
	height: 30vh;
	width: 70vw;
	/*border: 1px solid salmon;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: left;
	text-align: justify;
	margin-left: 187px;
	top: 45vh;
}

.p1 {
	font-family: 'Dosis', sans-serif;
	font-size: 25px;
	position: absolute;
	top: 7px;
}

.p2 {
	font-family: 'Dosis', sans-serif;
	font-size: 23px;
	position: absolute;
	top: 55px;
}

.p3 {
	font-family: 'Dosis', sans-serif;
	font-size: 23px;
	position: absolute;
	top: 250px;
}

.category {
	height: 100vh;
	width: 100vw;
	background: url(../../assets/images/background/bg-choppingboard.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.singleOrder {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 30px;
	height: 10vh;
	width: 25vw;
	border-radius: 20px;
	background-color: midnightblue;
	position: absolute;
	top: 300px;
	right: 470px;
}

.singleOrder > a {
	color: white;
}

.singleOrder:hover {
	top: 250;
	transition: .2s;
}


.fullBoard {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 30px;
	height: 10vh;
	width: 25vw;
	border-radius: 20px;
	background-color: midnightblue;
	position: absolute;
	top: 410px;
	right: 470px;
}

.fullBoard > a {
	color: white;
}

.fullBoard:hover {
	top: 405px;
	transition: .2s;
}
/*
#homeButtonPages {

} */

#image-homeButtonPages {
		height: 120px; 
		width: 120px;	
		position: absolute;
		top: 600px;
		right: 150px;
}


#image-homeButtonPages:hover {
	top: 550px;
	transition: .5s;
}

.motherC0ntainer {
	/*border: 2px solid black;*/
	height: 70vh;
	width: 80vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.cOntainer-1 {
	/*border: 1px solid indigo;*/
	height: 60vh;
	width: 20vw;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cOntainer-2 {
	/*border: 1px solid indigo;*/
	height: 60vh;
	width: 40vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

.cOntainer-3 {
	/*border: 1px solid indigo;*/
	height: 60vh;
	width: 15vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	writing-mode: vertical-lr;
	text-orientation: upright;	
}

.img-singleOrder {
	border-radius: 10%;
	height: 150px;
	width: 180px;
	-webkit-box-shadow: 0px 1px 44px 5px rgba(201,87,34,1);
-moz-box-shadow: 0px 1px 44px 5px rgba(201,87,34,1);
box-shadow: 0px 1px 44px 5px rgba(201,87,34,1);
}

.singleOrder-definition {
	background-color: rgba(250,128,114 ,.6 );
	font-size: 15px;
	font-family: 'Crimson Text', serif;
	color: black;
	border: 2px solid #8B0000;
	height: 15vh;
	width: 39vw;
	/*border-radius: 20%;*/
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
}

#singleOne {
	position: absolute;
	margin-top: -75px;
}

#singleTwo {
	position: absolute;
	margin-top: 80px;
}

.singleOrder-definition > div {
	width: 100%;
	margin: 10px 0;
	padding: 0 10px;
}

.cOntainer-2 > div:hover {
	background-color: rgba(239,240,246,.7);
}

.menuToday {
	color: 	black;
	font-size: 35px;
}

.motherC0ntainer-3 {
	/*border: 2px solid black;*/
	height: 70vh;
	width: 80vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.fullBoard-1 {
	border: 1px solid #800000;
	height: 70vh;
	width: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.fullBoard-img {
	padding-top: 5px; 
	height: 150px;
	width: 150px;
	border-radius: 20%
}

h5 {
	color: #800000;
	font-size: 30px;
	font-family: 'Rouge Script', cursive;
	padding-top: 20px;
}

.fullBoard-P {
	font-size: 15px;
	padding-top: 10px;

}

h6 {
	color: #800000;
	font-size: 30px;
	padding-top: 0;
}

.motherC0ntainer-3 > div:hover {
	background-color: rgba(239,240,246,.7);
}

#fullBoard-homeButtonPages {
	height: 120px; 
	width: 120px;
	position: absolute;
	top: 600px;
	right: 580px;
}

#fullBoard-homeButtonPages:hover {
	top: 550px;
	transition: .3s;
}


/*Create Account*/

.createCon-Mom {
	height: 100vh;
	width: 100vw;
	background: url(../../assets/images/background/bg-choppingboard.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}

.createCon {
/*	border: 2px solid black;*/
	height: 75vh;
	width: 90vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	top: 155px;
	margin-left: 73px;
}

.createCon-1 {
	/*border: 2px solid #800000;*/
	height: 75vh;
	width: 50%;	
	position: absolute;
	left: 530px;
}

.createCon-1 > p {
	font-family: 'Croissant One', cursive;
	font-size: 30px;
	position: absolute;
	margin-top: 80px;
	margin-left: 230px;
}

#mapLocation > p {
	font-family: 'Croissant One', cursive;
	font-size: 30px;
	position: absolute;
	top: 10px;
	left: 70px;
}

iframe {
	position: absolute;
	top: 70px;
	left: 20px;
	height: 500px;
	width: 500px;
	border-radius: 10%;
}

.joinUs {
	font-family: 'Croissant One', cursive;
	font-size: 30px;
	position: absolute;
	margin-left: 220px;
	margin-top: 100px;
}

.formRow {
/*	border: 1px solid black;*/
	width: 100%;
	display: flex;
	justify-content: left;
	align-items: center;
	font-size: 21px;
	font-family: 'Crimson Text', serif;
}

.formBoxContainer {
	height: 340px;
	width: 400px;
/*	border: 1px solid black;*/
	position: absolute;
	margin-top: 150px ;
	margin-left: 85px;

}

input {
	width: 280px;
}

textarea {
	width: 280px; 
	height: 100px;
}

#firstname {
	position: absolute;
	margin-top: -10px;
	margin-left: 10px;
}

#lastname {
	position: absolute;
	margin-top: -12px;
	margin-left: 14.5px;
}

#number {
	width: 248px;
	position: absolute;
	margin-top: -12.5px;
	margin-left: 3px;
}

#email {
	width: 248px;
	position: absolute;
	margin-top: -12px;
	margin-left: 10px;
}

#city {
	position: absolute;
	margin-top: -6px;
	margin-left: 85px;
}

#dietConcern {
	width: 265px;
	position: absolute;
	margin-top: -5px;
	margin-left: 9px;
}

.createCon-1 > .weHope {
	font-family: 'Croissant One', cursive;
	font-size: 20px;
	text-align: center;
	position: absolute;
	margin-left: 50px;
	margin-top: 510px;
}

.formButton {
	border-radius: 10%;
	width: 150px;
	background-color: white;
	font-family: 'Croissant One', cursive;
	color: brown;
	position: absolute;
	margin-left: 170px;
	margin-top: 110px;
}

#crtAct-homeButtonPages {
	height: 120px; 
	width: 120px;	
	position: absolute;
	top: 100px;
	right: 150px;
}

#crtAct-homeButtonPages:hover {
	top: 90px;
	transition: .5s;
}




/*Media Queries*/

	



/*mobile*/

@media only screen and (min-width: 370px) and (max-width: 390px) {


#landing-page {
	width: 100%;
	height: 78.5vh;
}

.slantbox-1 {
	height: 110vh;
	width: 120vw;
	transform: skewX(-64deg);
	position: relative;
	left: -810px;
	bottom: 5px;
	text-align: center;
}

#image-homeButton {
		height: 50px; 
		width: 50px;
}

#homeButton {
	position: absolute;
	margin-left: 105%;
	margin-top: 5%;
	transform: skewX(64deg);
	position: relative;
	overflow: hidden;
}

nav {
	/*border: 1px solid salmon;*/
	position: absolute;
	height: 30px;
	width: 64vw;
	transform: skewX(64deg);
	/*background-color: rgba(25,25,112 ,.1 );*/
	margin-left: 60vw;
	top: 5vh;

}

nav > ul > li {
	margin: 0 20px;
	font-family: 'Dosis', sans-serif;
	font-size: 12px;
}


/*disappearing reviewBox*/

.reviewBox {
	background-color: rgba(255, 255, 255, 0.8);
	width: 40%;
	height: 60px;
	position: absolute;
	left: 70%;
	top: 25px;
	visibility: hidden;
	overflow: hidden;
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;

}

.reviewFont {
	font-size: 10px;
	color: indigo;
	text-align: center;
	margin: 5px;
	position: absolute;
	margin-left: 11px; 
}

input {
	border: 1px solid #D3D3D3;
	margin: 10px auto;
	height: 15px;
	width: 105.5px;
	font-size: 9px;
	position: absolute;
	margin-top: 25px;
}

.reviewBtn {
	width: 50px;
	font-size: 10px;
	position: absolute;
	margin-top: 43px;
	margin-left: 28px;
}

/*End of Disappearing reviewBox*/

.subTitle {
	margin-left: 220px; 
	transform: skewX(64deg);
	position: relative;
	font-size: 17px;	
	font-family: 'Rouge Script', cursive;
	z-index: 100;
	
}

#subTitleColor {
	color: #800000;
	margin-top: 10px;
}

.menuTitle {
	/*border: 2px solid black;*/ 
	width: 170px;
	transform: skewX(64deg);
	position: absolute;
	position: relative;
	font-size: 20px;
	margin-left: 315px;
	top: -10px;	
}

#subTitleFont {
	/*border: 2px solid black;*/ 
	width: 200px;
	font-size: 12px;
	font-family: 'Dosis', sans-serif;
	margin-left: 388px;
	text-align: left;
	top: 18px;
	position: absolute;
	position: relative;
}

.flip-box {
	width: 170px;
	height: 100px;
	position: absolute;
	top: 28vh;
	margin-left: 190px;
	overflow: hidden;
}

.flip-box-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.5s;
	transform-style: preserve-3d; 
}

.flip-box:hover .flip-box-inner {
	transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: visible;
}

.flip-box-front { /*(fallback only)*/
	background-color: #f1f1f1;
	color: red;
} 

.flip-box-back {
	background-color: maroon;
	color: white;
	transform: rotateY(180deg);
} 

.flip-box-front > img {
	height: 100px;
	width: 170px;
}

.flip-box-back > img {
	height: 100px;
	width: 170px;
}	

#orderHere {
	position: absolute;
	height: 30px;
	width: 100px;
	margin-left: 60px;
	top: 50vh;
	font-size: 13px;	
}

#orderHere:hover {
	top: 51vh;
	transition: .3s;
}

#createAccount {
	position: absolute;
	height: 30px;
	width: 150px;
	margin-left: 165px;
	top: 50vh;
	font-size: 13px;
	font-family: 'Crimson Text', serif;	
}

#createAccount:hover {
	top: 51vh;
	transition: .3s;
}

.social-media {
	display: flex;
	flex-direction: column;
	width: 15px;
	position: absolute;
}


/*image of social media*/

#iNsta {
	height: 12px;
	width: 12px;
	position: absolute;
	bottom: 10vh;
}

#fBook {
	height: 14.5px;
	width: 14.5px;
	border-radius: 50%;	
	position: absolute;
	bottom: 12.5vh;
	left: 7px;
}

#tWitter {
	height: 12px;
	width: 13px;
	border-radius: 15%;
	position: absolute;
	bottom: 7.5vh;
}

#gMail {
	height: 12px;
	width: 13px;
	border-radius: 20%;
	position: absolute;
	bottom: 5vh;
}

#yMail {
	height: 15.5px;
	width: 15.5px;
	border-radius: 10%;
	position: absolute;
	bottom: 2.5vh;
	left: 6px;
}

.social-media {
	position: absolute;
	margin-left: 150px;
	top: 70vh;
}

.askHere {
	position: absolute;
	margin-top: 420px;
	margin-left: 10px;
	animation: move 2s steps(3) infinite alternate;
}

#askHere-1 {
	height: 70px; 
	width: 150px;
}

#askHereText {
	font-size: 10px;
	position: absolute;
	top: 27px;
	margin-left: 47px;
}

.footer {
	position: fixed;
	left: 0;
	top: 505px;
	height: 3vh;
	width: 100vw;
	background-color: rgba(255,228,196 ,.8);
	color: black;
	text-align: left; 
	font-size: 6.5px;
	font-family: 'Dosis', sans-serif;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/*z-index: 1000;*/
}

#about-Us{
/*	border: 2px solid red;*/
	height: 100vh;
	width: 100vw;
}

.aboutUsTitle {
	font-family: 'Rouge Script', cursive;
	font-size: 30px;
	color: 	#800000;
	position: absolute;
	margin-top: 100px;
	margin-left: 100px;
}

.aboutUsBorder {
	height: 3vh; 
	width: 30vw;
	position: absolute;
	margin-top: 140px;
	margin-left: 133px;
}

.aboutParagraph {
	margin-left: 61px;
	top: 25vh;
}

.p1 {
	font-family: 'Dosis', sans-serif;
	font-size: 15px;
	position: absolute;
	top: 7px;
}

.p2 {
	font-family: 'Dosis', sans-serif;
	font-size: 13px;
	position: absolute;
	top: 40px;
}

.p3 {
	font-family: 'Dosis', sans-serif;
	font-size: 13px;
	position: absolute;
	top: 235px;
}

#homeButton-1 {
	height: 50px; 
	width: 50px;
	background-color: none;
	border-radius: 20%;
	position: absolute;
	margin-left: 300px;
	margin-top: 464px;
	position: relative;
	overflow: hidden;
}

#homeButton-1:hover {
	top: 3px;
	transition: 1s;
}

.category {
	height: 80vh;
	width: 100vw;
}

.singleOrder {
	font-size: 12px;
	height: 5vh;
	width: 25vw;
	position: absolute;
	top: 200px;
	right: 150px;
}

.singleOrder:hover {
	top: 190;
	transition: .2s;
}


.fullBoard {
	font-size: 12px;
	height: 5vh;
	width: 30vw;
	position: absolute;
	top: 250px;
	right: 140px;
}


.fullBoard:hover {
	top: 290px;
}

#image-homeButtonPages {
		height: 70px; 
		width: 80px;	
		position: absolute;
		top: 400px;
		right: 40px;
}

#image-homeButtonPages:hover {
	top: 550px;
	transition: .5s;
}

.motherC0ntainer {
/*	border: 2px solid black;*/
	height: 70vh;
	width: 90vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.cOntainer-1 {
	/*border: 1px solid indigo;*/
	height: 40vh;
	width: 10vw;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cOntainer-2 {
	/*border: 1px solid indigo;*/
	height: 40vh;
	width: 10vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

.cOntainer-3 {
	/*border: 1px solid indigo;*/
	height: 10vh;
	width: 50vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	writing-mode: horizontal-tb;;
	text-orientation: left;	
	position: absolute;
	top: 130px;
}

.img-singleOrder {
	height: 70px;
	width: 100px;
}

.singleOrder-definition {
	font-size: 8px;
	border: 2px solid #8B0000;
	height: 11vh;
	width: 53vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	text-align: justify;
}

#singleOne {
	position: absolute;
	margin-top: -39px;
	margin-left: -10px;
}

#singleTwo {
	position: absolute;
	margin-top: 37px;
	margin-left: -10px;
}

.singleOrder-definition > div {
	width: 100%;
	margin: 10px 0;
	padding: 0 10px;
}

.cOntainer-2 > div:hover {
	background-color: rgba(239,240,246,.7);
}

.menuToday {
	font-size: 20px;
}

.motherC0ntainer-3 {
	/*border: 2px solid black;*/

}

.fullBoard-1 {
	border: 1px solid #800000;
	height: 40vh;
	width: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.fullBoard-img {
	height: 60px;
	width: 60px;

}

h5 {
	font-size: 15px;
}

.fullBoard-P {
	font-size: 9px;

}

h6 {
	font-size: 12px;

}

.motherC0ntainer-3 > div:hover {
	background-color: rgba(239,240,246,.7);
}

#fullBoard-homeButtonPages {
	height: 60px; 
	width: 70px;
	position: absolute;
	top: 380px;
	right: 155px;
}

#fullBoard-homeButtonPages:hover {
	top: 550px;
	transition: .3s;
}

/*Create Account*/

.createCon-Mom {
	height: 100vh;
	width: 100vw;
	background: url(../../assets/images/background/bg-choppingboard.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}

.createCon {
/*	border: 2px solid black;*/
	height: 10vh;
	width: 30vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	top: 155px;
	margin-left: 73px;
}

.createCon-1 {
	/*border: 2px solid #800000;*/
	height: 55vh;
	width: 50%;	
}

.createCon-1 > p {
	font-family: 'Croissant One', cursive;
	font-size: 15px;
	position: absolute;
	top: 217px;
	left: -60px;
}

#mapLocation > p {
	font-family: 'Croissant One', cursive;
	font-size: 10px;
	position: absolute;
	top: 225px;
	left: -60px;
}


iframe {
	position: absolute;
	margin-top: 210px;
	left: -70px;
	height: 100px;
	width: 130px;
	border-radius: 10%;
}

#joinUs {
/*	border: 1px solid indigo;*/
	width: 50vw;
	font-family: 'Croissant One', cursive;
	font-size: 20px;
	position: absolute;
	left: 60px;
	top: -30px;

}

.formRow {
	/*border: 1px solid black;*/
	width: 100%;
	display: flex;
	justify-content: left;
	align-items: center;
	font-size: 13px;
	font-family: 'Crimson Text', serif;
}

.formBoxContainer {
	height: 170px;
	width: 230px;
	border: 1px solid black;
	position: absolute;
	margin-top: 160px ;
	margin-left: -45px;

}

input {
	width: 150px;
}

textarea {
	width: 150px; 
	height: 80px;
}

#firstname {
	position: absolute;
	margin-top: -8px;
	margin-left: 10px;
}

#lastname {
	position: absolute;
	margin-top: -7px;
	margin-left: 13px;
}

#number {
	width: 133px;
	position: absolute;
	margin-top: -7px;
	margin-left: 3px;
}

#email {
	width: 133px;
	position: absolute;
	margin-top: -7px;
	margin-left: 7px;
}

#city {
	position: absolute;
	margin-top: -6px;
	margin-left: 62px;
	font-size: 10px;
}

#dietConcern {
	font-size: 8.5px;
	width: 147px;
	height: 70px;
	position: absolute;
	margin-top: -7px;
	margin-left: 5px;
}

.createCon-1 > .weHope {
/*	border: 1px solid indigo;*/
	width: 150px;
	font-size: 10px;
	text-align: center;
	position: absolute;
	left: 80px;
	top: -290px;
}

.formButton {
	border-radius: 10%;
	width: 100px;
	background-color: white;
	font-size: 10px;
	font-family: 'Croissant One', cursive;
	color: brown;
	position: absolute;
	margin-left: 65px;
	margin-top: 70px;
}

#crtAct-homeButtonPages {
	height: 60px; 
	width: 75px;	
	position: absolute;
	top: 420px;
	right: 30px;
}

#crtAct-homeButtonPages:hover {
	top: 410px;
	transition: .5s;
}


}